#footer{
	background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/dice-tray.jpg");
	height: 150px;
	padding: 10px;
	background-position: center;
	background-size: cover;
}

.main-footer {
	display: grid;
	grid-template-columns: 20% 80%;
	margin: 5px;
}

.footer-left {
	font-size: 150%;
	padding: 15px;
}

.footer-right {
	padding: 30px;
}

.column {
	float: right;
	padding: 7px;
}