---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a href="/">Home</a>
		<a href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a href="/stores">Game Stores</a>
	</nav>
	<section id="contact-main">
		<div id="contact-box">
			<div id="contact-text">
				<h2>Contact Me</h2>
				<p>
					I am always looking for new ways to improve and grow this community. If you have a query, suggestion, or idea, please use one of the methods below.
				</p>
				<p>
					Or try my socials, they are all linked in the icons at the bottom of the webpage.
				</p>
				<p>
					Can't wait to hear from you!
				</p>
			</div>
			<hr>
			<div id="contact-methods">
				<div id="email">
					<h2>Email</h2>
					<img id="email-icon" src="/images/email.png" alt="Email icon">
					<h4 class="contact-info">opinionatedheron@gmail.com</h4>
				</div>
				<div id="phone">
					<h2>Phone</h2>
					<img id="phone-icon" src="/images/phone.png" alt="Phone icon">
					<h4 class="contact-info">087-1234567</h4>
				</div>
				<div id="discord">
					<h2>Discord</h2>
					<img id="discord-icon" src="/images/discord.png" alt="Discord icon">
					<h4 class="contact-info">iamnotajellyfish</h4>
				</div>	
			</div>
		</div>
	</section>
</section>