---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a href="/">Home</a>
		<a href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a href="/stores">Game Stores</a>
	</nav>
	<section class="d20-main">
		<div id="cr-text">
			<div class="headings">
				<h2 class="heading-text">Critical Role</h2>
			</div>
				<p>
					Critical Role is probably the most famous Actual Play out there. Complete with a star-studded cast of voice actors, amazing set pieces, and in-depth worldbuilding, it’s obvious why this channel has grown as much as it has.
				</p>
				<p>
					And if you don’t want to face the thousands of hours of content that is available for free on the <a href="https://www.youtube.com/@criticalrole">Critical Role YouTube channel</a>, you could instead watch their animated series available on Amazon Prime. 
				</p>
				<p>
					The Legend of Vox Machina is an adult, animated series that summarizes the events of their very first campaign. It is the perfect piece of content for those who want to watch Dungeons and Dragons, without technically watching Dungeons and Dragons.
				</p>
				<iframe class="video" width="1236" height="695" src="https://www.youtube.com/embed/LhFETREAvhc?list=PL1tiwbzkOjQx290ODp0IyBw0G5uAktKls" title="Mighty Nein Animated Intro - Your Turn To Roll" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</section>
</section>