---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a href="/">Home</a>
		<a href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a href="/stores">Game Stores</a>
	</nav>
	<section class="d20-main">
		<div id="daddies-text">
			<div class="headings">
				<h2 class="heading-text">Dungeons & Daddies</h2>
			</div>
				<p>
					Dungeons and Daddies is the perfect podcast for anyone who is not a stickler for the rules. I’ve been listening to this podcast for years and I am pretty sure that none of the players have ever bothered to learn the rules of the game. But that is what makes this podcast so enjoyable.
				</p>
				<p>
					The first season of this show follows the misadventures of 4 dads from our world flung into the Forgotten Realms to rescue their missing sons. Rife with dad jokes and ridiculousness, this is the perfect podcast for anyone looking for a belly laugh. And to remind people that you can enjoy D&D without following the rules to the letter.
				</p>
				<iframe class="video" style="border-radius:12px" src="https://open.spotify.com/embed/episode/7letaWwgx4lnr5WSaJxLr8?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		</div>
	</section>
</section>