---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a href="/">Home</a>
		<a href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a href="/stores">Game Stores</a>
	</nav>
	<section class="d20-main">
		<div id="d20-text">
			<div class="headings">
				<h2 class="heading-text">Dimension 20</h2>
			</div>
				<p>
					Dimension 20 is one of my all-time favourite actual plays. It is easier to jump into than a lot of other shows because it runs short campaigns, rather than ongoing epics.
				</p>
				<p>
					It is part of Dropout, which is a paid streaming service. It has a lot of other comedy content outside of Dimension 20 that make it well worth the money – in my humble opinion. 
				</p>
				<p>
					However, if you would like to see if this is something you would enjoy before watching, their entire first campaign, <a href="https://www.youtube.com/playlist?list=PLhOoxQxz2yFOcJoLoPRyYzjqCbddeOjP4">Fantasy High</a>, is available on YouTube.
				</p>
				<iframe class="video" width="1236" height="695" src="https://www.youtube.com/embed/p-eY2tDgXsY?list=PLhOoxQxz2yFOcJoLoPRyYzjqCbddeOjP4" title="FANTASY HIGH: D&amp;D Meets High School [Official Trailer]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</section>
</section>