---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a class="active" href="/">Home</a>
		<a href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a href="/stores">Game Stores</a>
	</nav>
	<section id="maincontent">
		<h3>Welcome, Adventurer!</h3>
		<p>
			You meet in a tavern…except it’s not really a tavern, or an inn, or even a dungeon for that matter. You actually find yourself in an online space dedicated to helping you navigate the fun, but admittedly overwhelming, world of Dungeons and Dragons.
		</p>
		<p>
			This tabletop role playing game has been around since the 70s, so it’s no surprise that it has changed and evolved in that time. New editions of the rules and adventures are released every few years, so it can be difficult to figure out where to begin. 
		</p>
		<p>
			That’s where I come in!! I wanted to create a space where new players could feel welcome and take time to find their footing within the world of the Forgotten Realms, before getting consumed by the rules and lore. D&D is a creative and social hobby that revolves around imagination, collaborative storytelling, and a little bit of math. It is suitable for all ages—so, why not get the whole family involved.
		</p>
		<p>
			Take some time here to get your bearings and then, once you are ready…
		</p>
		<h3>Let the adventure begin!</h3>
		<img id="adventure" src="/images/dragon.gif" alt="Animated dragon nodding playing D&D">
	</section>
	<aside id="aboutme-sidebar">
		<img class="mypicture" src="/images/mypicture.jpg" alt="Dark haired woman with glasses">
		<h2>About Me</h2>
		<p>
			Hello, adventurer!
		</p>
		<p>
			My name is Leanne (Lee for the sake of rhyming). I am going to be your guide through the whimsical world of Dungeons and Dragons.
		</p>
		<p>
			I’ve been playing D&D for the last 5 years and has been a fantastic way to meet new people as an adult. However, I know it has a steep learning curve, so I wanted to create a resource that could help new players get started.
		</p>
		<p>
			If there is anything I am missing, or fun things that you think should be added to the site, please <a href="/contact">contact me</a>. I am always looking for ways to grow and improve this service to include everyone.
		</p>
	</aside>
</section>
