---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a href="/">Home</a>
		<a class="active" href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a href="/stores">Game Stores</a>
	</nav>
	<section id="start-maincontent">
		<div class="headings">
			<h2 class="heading-text">Introduction</h2>
		</div>
		<div class="start-paragraphs">
			<p>
				Okie dokie, you have decided to start playing Dungeons and Dragons, but have no idea what to do. Well, you are in the right place. This page is ALL about getting you started. I’m going to run through some of the basic materials that will come in handy, where you can play, and even some next steps—once you get more comfortable. 
			</p>
		</div>
		<div class="headings">
			<h2 class="heading-text">Step 1: The Rules</h2>
		</div>
		<div class="start-paragraphs">
			<img id="basic-rules" src="/images/basic-rules.jpg" alt="Cover of D&D 5e Basic Rules">
			<p>
				The rules are one of the most intimidating parts of D&D, with over 40 books currently available for 5th Edition it can be difficult to find a place to start. However, one thing I want every new player to know is that the rules are such a small part of playing the game. Of course, you will always meet people that are sticklers for the rules but remember that Dungeons and Dragons is a creative and collaborative game, the rules can be changed and adjusted to suit your playstyle and to better encompass the aspects of the game you enjoy.
			</p>
			<p>
				In saying that, you must learn the rules before you can break the rules. So, where to begin?
			</p>
			<p>
				As a new player I will always recommend starting with the most recent edition of Dungeons and Dragones, which is commonly referred to as D&D 5e (5th Edition). This is the most user-friendly version of the game—I say this as someone who still does not understand the older editions. It is also the version that is generally played in Actual Play streams. Actual Plays can be videos or podcasts of peoples’ games, that can be a great way to learn the rules and see the game in action before trying it out yourself. You can check out some of my favourite Actual Plays in the D&D Content section.
			</p>
			<p>
				D&D 5e has a wealth of content that you can dive into, both official (from Wizards of the Coast) and unofficial content (from third parties)—starting out, we are going to stick with the official content. Wizards of the Coast has made the most <a href="https://dnd.wizards.com/what-is-dnd/basic-rules">basic rules</a> available to everyone for free. These are a great introduction to the game as they offer some basic classes and races so that you can start creating your first character. You don’t need memorise all of these rules (there are very few people who have any of the rules memorised) but read through the document and start to get familiar with some of the terms.
			</p>
			<p>
				Once you get comfortable with the basic rules, you can start looking at some of the other books that are available. Dungeons and Dragons has two main types of rulebooks: sourcebooks and adventures. Sourcebooks contain rules, classes, races, and other features that can be used by players and DM (Dungeon Master – the person who runs a game of D&D). Adventure books are what they say on the tin, they contain a pre-written adventure that can be played. For beginners, the first resource I would recommend getting is the Starter Set. This contains a physical copy of the Basic Rules, an Adventure booklet, premade character sheets, and even a set of dice. It’s a great kit for new players.
			</p>
			<p>
				If you get these and still want more, then the next step is getting the core rulebooks. This is made up of the Player’s Handbook, Dungeon Master’s Guide, and Monster Manual. These three are all rulebooks and are the foundation of any player’s D&D book collection. However, they can be expensive, so start off with the Player’s Handbook; this will give you access to more classes and races, so you can expand your character creation, as well as different items and spell and all that fun stuff. The DMG and MM are much more stat and mechanics heavy, so are more useful once you have a better understanding of the rules and are MUST if you ever intend to run games.
			</p>
			<p>
				When buying books, I would always recommend supporting your local game shop, if you have one. Game shops are a great way to meet other people who are interested in Dungeons and Dragons, and many even run games that are open to the public. They can also be found online in places like <a href="https://www.amazon.co.uk/s?k=dungeons+and+dragons+book&crid=3BRT9CYUJNG7J&sprefix=dungeons+and+dragons+boo%2Caps%2C65&ref=nb_sb_ss_ts-doa-p_1_24">Amazon.</a>
			</p>
		</div>
		<div class="headings">
			<h2 class="heading-text">Step 2: The Materials</h2>
		</div>
		<div class="start-paragraphs">
			<p>
				So, you’ve read the rules and you’re ready to make your character. Now, we need to look at what you need to start playing. Most of these are optional, you can start playing with a character sheet and some dice – but if you are a little D&D gremlin like me, you will want to see all of the fun things you can collect.
			</p>
			<div id="materials-grid">
				<div class ="material-options">
					<img class="material-imgs" src="/images/dice.jpg" alt="Colourful 7-piece dice sets">
					<h4>Dice</h4>
				</div>
				<div class ="material-options">
					<img class="material-imgs" src="/images/character-sheet.jpg" alt="D&D character sheet">
					<h4>Character Sheet</h4>
				</div>
				<div class ="material-options">
					<img class="material-imgs" src="/images/minis.jpg" alt="Female miniature in stone dungeon">
					<h4>Miniatures</h4>
				</div>
			</div>
		</div>
	</section>
</section>	