---
layout: layout.njk
---
<section class="container">
	<nav class="navigation">
		<a href="/">Home</a>
		<a href="/start">Where to start?</a>
		<a href="/resources">Resources</a>
		<a href="/content">D&D Content</a>
		<a class="active" href="/stores">Game Stores</a>
	</nav>
	<section class="content-main">
		<div id="store-text">
			<div class="headings">
				<h2 class="heading-text">Local Games Shops</h2>
			</div>
			<div id="store-body">
				<p>
					Games shops are an amazing spot for any D&D player. They are great to pick up books, dice, minatures, and more!! Many run games that are open to the public, so it is a fantastic way to play your first game and learn in person.
				</p>
				<p>
					And, even if you decide that D&D is not for you. Game shops have a variety of other games that might take your fancy.
				</p>
			</div>
		</div>
		<div id="store-grid">
			<div class="store-row">
				<img class="shop-icon" src="/images/underworld-gaming.png" alt="Underworld Gaming Logo">
				<h2>Underworl Gaming</h2>
				<p>
					Tallaght, Dublin
				</p>
				<p>
					Website: <a href="https://underworldgaming.ie/">underworldgaming.ie</a>
				</p>
			</div>
			<div class="store-row">
				<img class="shop-icon" src="/images/donuts.jpg" alt="Dungeons and Donuts Galway Logo">
				<h2>Dungeons and Donuts</h2>
				<p>
					Abbeygate Street, Galway
				</p>
				<p>
					Website: <a href="https://www.dungeonsanddonuts.net/">dungeonsanddonuts.net</a>
				</p>
			</div>
			<div class="store-row">
				<img class="shop-icon" src="/images/gamers-world.jpg" alt="Gamers World Logo">
				<h2>Gamers World</h2>
				<p>
					Jervis Street, Dublin
				</p>
				<p>
					Website: <a href="https://gamersworld.ie/">gamersworld.ie</a>
				</p>
			</div>
			<div class="store-row">
				<img class="shop-icon" src="/images/dakota-irish.png" alt="Dakota Irish Logo">
				<h2>Dakota Irish</h2>
				<p>
					Online Only. Check out their socials to see what conventions the will appear at.
				</p>
				<p>
					Website: <a href="https://www.dakotairish.com/">dakotairish.com</a>
				</p>
			</div>
		</div>
	</section>
</section>