<footer id="footer">
	<div class="main-footer">
		<div class="footer-left">
			<h4><a href="/contact">Contact</a></h4>
		</div>
		<div class="footer-right">
			<div class="column">
				<a href="https://www.instagram.com/opinionatedheron/"><img class="insta-logo" src="/images/instagram.png" alt="Instagram Logo"></a>
			</div>
			<div class="column">
				<a href="https://www.facebook.com/leanneahern"><img class="fb-logo" src="/images/facebook.png" alt="Facebook Logo"></a>
			</div>
			<div class="column">
				<a href="https://www.tiktok.com/@leanne_a95?is_from_webapp=1&sender_device=pc"><img class="tiktok-logo" src="/images/tik-tok.png" alt="TikTok Logo"></a>
			</div>
		</div>
	</div>
</footer>