<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet"  href="/css/home.css">
		<title>D&D with Lee</title>
	</head>
	<body>
		{% include "header.njk" %}
			{{ content | safe }}
		{% include "footer.njk" %}
	</body>
</html>